/*************************************** !!!   START   !!! ************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  min-width: 360px;
  min-height: 100%;
  background-color: #f5f5f5;
}
/* begin 1920px / 1024px ***********************************************************************/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name_header {
  text-align: center;
  font-size: 110px;
  font-weight: 500;
  color: #ead7d7;
}
.to_do_list {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  max-width: 550px;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.task_block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
}
.new_task_input,
.task_input {
  width: 550px;
  padding: 15px 0;
  outline: none;
  border: none;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
  text-indent: 60px;
  font-size: 24px;
}
.task_input:hover {
  cursor: default;
}
.new_task_input::placeholder {
  font-style: italic;
  color: #d3d3d3;
}
.task_input:hover + .delete_task_btn {
  opacity: 1;
}
.complete_all_tasks_btn {
  position: absolute;
  top: 17px;
  left: 7px;
  width: 26px;
  height: 26px;
  border: none;
  cursor: pointer;
  background-size: contain;
  background-color: transparent;
  background-image: url(./icons/all_active_btn.png);
}
.active_all_tasks_btn {
  background-image: url(./icons/all_completed_btn.png);
}
.complete_task_btn,
.complete_task_btn_done,
.delete_task_btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
.complete_task_btn {
  top: 15px;
  left: 5px;
  background-image: url(./icons/active_btn.png);
}
.complete_task_btn_done {
  background-image: url(./icons/completed_btn.png);
}
.delete_task_btn {
  top: 24px;
  right: 15px;
  width: 12px;
  height: 12px;
  padding: 8px;
  opacity: 0;
  background-image: url(./icons/delete_btn.png);
}
.delete_task_btn:hover {
  opacity: 1;
}
.done {
  text-decoration: line-through;
  color: #d3d3d3;
}
.status_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: #7c7c7c;
}
.filter_btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 200px;
}
.filter_btn,
.clear_completed_btn {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  color: #7c7c7c;
}
.filter_btn:hover,
.clear_completed_btn:hover {
  border: 1px solid #ead7d7;
}
/* end 1920px / 1024px ***********************************************************************/
/* begin 360px *******************************************************************************/
@media (max-width: 760px) {
  .new_task_input,
  .task_input {
    width: 100%;
    min-width: 360px;
    text-indent: 45px;
  }
  .delete_task_btn {
    opacity: 1;
  }
  .status_btns {
    flex-flow: column nowrap;
  }
  .filter_btns {
    width: 100%;
    margin: 10px 0;
  }
  .filter_btn:active,
  .clear_completed_btn:active {
    background-color: #ff0000;
  }
  .filter_btn,
  .clear_completed_btn {
    width: 100%;
    border: 1px solid #d3d3d3;
    font-weight: 700;
    color: #000000;
    height: 50px;
  }
}
/* end 360px ********************************************************************************/
/*★★★★★★★★★★★★★★★★★★★★★★★ ||| BE GREATEST ||| ★★★★★★★★★★★★★★★★★★★★★★★*/
/************************************ !!!   FINISH   !!! ************************************/
